<mat-grid-list cols="4" rowHeight="400" style="padding: 10px" *ngIf="personas.length > 0 else noData">
  <mat-grid-tile *ngFor ="let j of personas">
    <mat-card class="personas-card">
      <mat-card-header>
        <div mat-card-avatar class="personas-herder-imagen"></div>
        <mat-card-title>{{j.nombre}}</mat-card-title>
        <mat-card-subtitle>{{j.apodo}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://via.placeholder.com/200x200?text=Foto+de+jugador" alt="">
      <mat-card-actions align="end">
        <button mat-button color="primary">
          OK
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<ng-template #noData>
  <div class="mat-elevation-z8 noData">
    <h2>No hay registros!</h2>
  </div>
</ng-template>


